@model VinculateOnlineMvc.Models.ClientBasicInfo

<div id="header">
    <div class="cImageDoc">
        <center>
            <p>&nbsp;&nbsp;&nbsp;&nbsp; <a href="/es/home.html"><img src="~/images/banco_procredit_logo_main.png" alt="banco procredit logo main"></a></p>
        </center>
    </div>

</div>

<style>
    input {
        background: transparent;
        border: none;
        border-bottom: solid gray;
        outline: medium;
        width: 30% ;
    }
</style>

<div class="custom">

    <div class="row">

        <div class="col-md-4">

            <div style="width: 15%; text-align: right">
                <p><a asp-area="" asp-controller="DataInfo" asp-action="Document"><img src="/images/ATRAS.png" alt="Banner Vinculate" width="50" height="50"></a> </p>
            </div>


            <div style="width: 100%; text-align: center">
                <h1 style="font-size:200%;"> <strong><i> Registra tu Nombre</i></strong></h1>
            </div>

            
                <div style="width: 50%; text-align: center; float: left;">
                    <h2>   <label asp-for="FirstName" class="control-label">Primer Nombre*</label></h2>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                    <p>&nbsp;</p>

                    <h2><label asp-for="FirstLastName" class="control-label">Primer Apellido*</label></h2>
                    <input asp-for="FirstLastName" class="form-control" />
                    <span asp-validation-for="FirstLastName" class="text-danger"></span>

   
                </div>

                <div style="width: 50%; text-align: center; float: left;">

                    <h2>  <label asp-for="SecondName" class="control-label">Segundo Nombre</label></h2>
                    <input asp-for="SecondName" width="300" class="form-control" />
                    <span asp-validation-for="SecondName" class="text-danger"></span>

                    <p>&nbsp;</p>

                    <h2><label asp-for="SecondLastName" class="control-label">Segundo Apellido</label></h2>
                    <input asp-for="SecondLastName" class="form-control" />
                    <span asp-validation-for="SecondLastName" class="text-danger"></span>
                    <p>&nbsp;</p>
                     
                </div>
                <p>&nbsp;</p>
                <div style="width: 100%; text-align: center">
                    <p><a asp-area="" asp-controller="DataInfo" asp-action="ClientInfo_Sec"><img src="/images/Continuar.png" alt="Banner Vinculate" width="150" height="60"></a> </p>
                </div>
                <center>
                    <img src="/images/BannerInferior.png" width="2600" height="30">
                    <div class="moduletable cSlider">
                        <p>© 2015 Todos los derechos reservados. <br><strong><span class="red">Banco ProCredit Colombia</span></strong></p>
                    </div>
                </center>
            </div>
        </div>
</div>



