@model VinculateOnlineMvc.Models.IdentityDocument

@{
    Layout = null;
}



<p>&nbsp;</p>
<div id="header">
    <div class="cImageDoc">
        <center>
            <p>&nbsp;&nbsp;&nbsp;&nbsp; <a href="/es/home.html"><img src="~/images/banco_procredit_logo_main.png" alt="banco procredit logo main"></a></p>
        </center>
    </div>

</div>
<style>
    input {
        background: transparent;
        border: none;
        border-bottom: solid gray;
        outline: medium;
        width: 20%;
    }
</style>
<body>
    <div class="row">

        <div class="col-md-4">
            <form asp-action="Document">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div style="width: 15%; text-align: right">
                    <img src="/images/ATRAS.png" width="50" height="50" alt="Banner Vinculate" onclick="location.href='@Url.Action( "Index","Home")'" />
                </div>


                <div align="center">
                    <div align="center">
                        <div class="floating-placeholder">
                            <h1 style="font-size:250%;"> <strong><i> Confírmanos el número de tu cédula</i></strong></h1>
                            <p>&nbsp;</p>
                            <div class="form-group">
                                <h3 style="color: #151515;"> <label asp-for="DocNumber" class="control-label"> Ingresa el número de tu cédula</label></h3>
                                <input type="number" minlength="6"  maxlength="10" asp-for="DocNumber" required />
                                <span asp-validation-for="DocNumber" class="text-danger"></span>
                            </div>
                            <p>&nbsp;</p>
                            <div class="form-group">
                                <h3 style="color: #151515;"> <label asp-for="NameCityDocumentExp" class="control-label"> Ingresa el lugar de expedición</label></h3>
                                <input type="text" asp-for="NameCityDocumentExp" required class="form-control" />
                                <span asp-validation-for="NameCityDocumentExp" class="text-danger"></span>
                            </div>
                        </div>
                        <p>&nbsp;</p>
                        <div style="width: 110%; text-align: center;">
                            <p><a><img src="/images/Cedula.png" alt="Banner Vinculate" width="500" height="200"></a> </p>
                        </div>
                        <div aligne="right">
                            <div class="floating-placeholder">
                                <h3 style="color: #151515;"><label asp-for="ExpDate" class="control-label">Fecha de expedición de tu cédula</label></h3>
                                <input type="date" name="fecha" min="1970-01-01" required />  
                                <span asp-validation-for="ExpDate" class="text-danger"></span>

                            </div>
                        </div>
                        <p>&nbsp;</p>
                        <div class="floating-placeholder">
                            <h3 style="color: #151515;"><label asp-for="FileDocNumber" class="control-label">Adjunta una imagen de tu cédula</label> </h3>
                            <input type="file" accept=".pdf,.jpg,.png" multiple required />
                            <span asp-validation-for="FileDocNumber" class="text-danger"></span>
                        </div>

                        <p>&nbsp;</p>
                        <p>&nbsp;</p>

                        <button type="submit" name="isSubmit" value="true" style="border-style: none;background: none;">
                            <img src="/images/Continuar.png" alt="Banner Vinculate" width="150" height="60" />
                        </button>

                    </div>
                </div>


            </form>
            <div>
                <center>
                    <img src="/images/BannerInferior.png" width="2600" height="30">
                    <div class="moduletable cSlider">
                        <p>© 2015 Todos los derechos reservados. <br><strong><span class="red">Banco ProCredit Colombia</span></strong></p>
                    </div>
                </center>



            </div>
        </div>
    </div>
</body>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
