@model VinculateOnlineMvc.Models.IdentityDocument

@{
    ViewData["Title"] = "Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Document">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="floating-placeholder">
                <label asp-for="DocNumber" class="control-label">Digita tu Documento</label>
                <input asp-for="DocNumber" class="form-control" />
                <span asp-validation-for="DocNumber" class="text-danger"></span>
            </div>
            <div class="floating-placeholder">
                <label asp-for="DocType" class="control-label">Tipo de Documento</label>
                <input asp-for="DocType" class="form-control" />
                <span asp-validation-for="DocType" class="text-danger"></span>
            </div>
            <div class="floating-placeholder">
                <label asp-for="FileDocNumber" class="control-label">Carga tu Documento</label>
                <input asp-for="FileDocNumber" class="form-control" />
                <span asp-validation-for="FileDocNumber" class="text-danger"></span>
            </div>
            @*<div class="floating-placeholder">
                <label asp-for="ExpDate" class="control-label"></label>
                <input asp-for="ExpDate" class="form-control" />
                <span asp-validation-for="ExpDate" class="text-danger"></span>
            </div>
            <div class="floating-placeholder">
                <label asp-for="NameCityDocumentExp" class="control-label"></label>
                <input asp-for="NameCityDocumentExp" class="form-control" />
                <span asp-validation-for="NameCityDocumentExp" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <input type="submit" value="Siguiente" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Home")'"/>
            </div>

       

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
