@model VinculateOnlineMvc.Models.EconomicActivity

@{
    Layout = null;
}

<div id="header">
    <div class="cImageDoc">
        <center>
            <p>&nbsp;&nbsp;&nbsp;&nbsp; <a href="/es/home.html"><img src="~/images/banco_procredit_logo_main.png" alt="banco procredit logo main"></a></p>
        </center>
    </div>

</div>
<style>
    input {
        background: transparent;
        border: none;
        border-bottom: solid gray;
        outline: medium;
        width: 40%;
    }
</style>



<div class="custom">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EmployeesActivity">
                <div asp-validation-summary="All" class="text-danger"></div>


                <div style="width: 15%; text-align: right">
                    <p><a asp-area="" asp-controller="DataInfo" asp-action="ClientEconomicActivity"><img src="/images/ATRAS.png" alt="Banner Vinculate" width="50" height="50"></a> </p>
                </div>
                <div style="width: 54%; text-align: right">
                    <p><a><img src="/images/Asalariado.png" alt="Banner Vinculate" width="200" height="200"></a> </p>
                </div>

                <div style="width: 100%; text-align: center; float: right;">
                    <h2><label class="NameCompany">Donde Trabajas</label></h2>
                    <input type="text" asp-for="NameCompany" placeholder="Ejemplo: Nombre de la compañia: " class="form-control" required />
                    <p>&nbsp;</p>
                    <h2><label class="ActivityEcoCompany">Actividad Economica de la empresa</label></h2>
                    <input type="text" asp-for="ActivityEcoCompany" placeholder="Ejemplo: Construcción: " class="form-control" required />
                    <p>&nbsp;</p>
                    <h2><label class="Jobtitle">Cual es tu cargo</label></h2>
                    <input type="text" asp-for="Jobtitle" placeholder="Ejemplo: Jefe de Sistemas: " class="form-control" required />
                    <p>&nbsp;</p>
                    <h2><label class="DateStarJob">Fecha de ingreso</label></h2>
                    <input type="date" asp-for="DateStarJob" class="form-control" required />

                </div>
                @Html.HiddenFor(x => x.BasicInfoClientID);
                <p>&nbsp;</p><p>&nbsp;</p>
                <center>
                    <button type="submit" name="isSubmit" value="true" style="border-style: none;background: none;">
                        <img src="/images/Continuar.png" alt="Banner Vinculate" width="150" height="60" />
                    </button>
                </center>
            </form>
            <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
            <center>
                <img src="/images/BannerInferior.png" width="2600" height="30">
                <div class="moduletable cSlider">
                    <p>© 2015 Todos los derechos reservados. <br><strong><span class="red">Banco ProCredit Colombia</span></strong></p>
                </div>
            </center>

        </div>
    </div>
</div>

