
@{
    Layout = null;
}

<div id="header">
    <div class="cImageDoc">
        <center>
            <p>&nbsp;&nbsp;&nbsp;&nbsp; <a href="/es/home.html"><img src="~/images/banco_procredit_logo_main.png" alt="banco procredit logo main"></a></p>
        </center>
    </div>

</div>

<div class="custom">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="FormAccount">
                <div asp-validation-summary="All" class="text-danger"></div>

                <br />

                <div align="center">
                    <h1 style="font-size:150%;"> <strong>TU NÚMERO DE CUENTA ES: </strong></h1>


                </div>

            </form>


            <p>&nbsp;</p>

            <center>
                <img src="/images/BannerInferior.png" width="2600" height="30">
                <div class="moduletable cSlider">
                    <p>© 2015 Todos los derechos reservados. <br><strong><span class="red">Banco ProCredit Colombia</span></strong></p>
                </div>
            </center>
        </div>
    </div>
</div>


