@model VinculateOnlineMvc.Models.AditionalInfo

@{
    Layout = null;
}
<style>
    input {
        background: transparent;
        border: none;
        border-bottom: solid gray;
        outline: medium;
        width: 40%;
    }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PublicInfo</title>
</head>
<body>

    <p>&nbsp;</p>
    <div id="header">
        <div class="cImageDoc">
            <center>
                <p>&nbsp;&nbsp;&nbsp;&nbsp; <a href="/es/home.html"><img src="~/images/banco_procredit_logo_main.png" alt="banco procredit logo main"></a></p>
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="PublicInfo">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div style="width: 15%; text-align: right">
                    <p><a asp-area="" asp-controller="DataInfo" asp-action="Internationaloperations"><img src="/images/ATRAS.png" alt="Banner Vinculate" width="50" height="50"></a> </p>
                </div>

                <div style="width: 100%; text-align: center; float: right;">
                    <h1><label>    ¿Pagas impuestos en otros paises?</label></h1>
                    <p>&nbsp;</p>    <p>&nbsp;</p>
                    <div style="width:63%; text-align: right; float: right;">
                        <p><a asp-area="" asp-controller="DataInfo" asp-action="ComplianceInfo"><img src="/images/SI.png" align="left" width="250" height="90"></a> </p>
                        <p><a asp-area="" asp-controller="DataInfo" asp-action="ComplianceInfo"><img src="/images/NO.png" align="left" width="250" height="102"></a> </p>
                    </div>
                </div>


                <p>&nbsp;</p>    <p>&nbsp;</p>    <p>&nbsp;</p>   <p>&nbsp;</p>    <p>&nbsp;</p>    <p>&nbsp;</p>    <p>&nbsp;</p>    <p>&nbsp;</p>     <p>&nbsp;</p>    <p>&nbsp;</p><p>&nbsp;</p>    <p>&nbsp;</p>
            </form>
        </div>
    </div>


    <center>
        <img src="/images/BannerInferior.png" width="2600" height="30">
        <div class="moduletable cSlider">
            <p>© 2015 Todos los derechos reservados. <br><strong><span class="red">Banco ProCredit Colombia</span></strong></p>
        </div>
    </center>

</body>
</html>
