<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div id="header">
        <div class="extramargin">
            <a href="https://www.procredit.com.co" target="_blank">
                <img src="/Content/images/ProCreditLogo.jpg" title="Colombia">
            </a>
            <span class="l-floatright">
                <img src="/Content/images/rightlogo.jpg">
            </span>
        </div>
        <div class="loginwrapper">

            <span class="l-floatright">

            </span>
        </div>
        <div>
            <span class="colorbarpart" style="background-color: #FFDD00;"></span>
            <span class="colorbarpart" style="background-color: #F37021;"></span>
            <span class="colorbarpart" style="background-color: #DA2128;"></span>
            <span class="colorbarpart" style="background-color: #009175;"></span>
            <span class="colorbarpart" style="background-color: #A52960;"></span>
            <span class="colorbarpart" style="background-color: #0066B3;"></span>
        </div>
    </div>

    <div class="loginwrapper">

        <span class="l-floatright">

        </span>
    </div>

    <div>
        <span class="colorbarpart" style="background-color: #FFDD00;"></span>
        <span class="colorbarpart" style="background-color: #F37021;"></span>
        <span class="colorbarpart" style="background-color: #DA2128;"></span>
        <span class="colorbarpart" style="background-color: #009175;"></span>
        <span class="colorbarpart" style="background-color: #A52960;"></span>
        <span class="colorbarpart" style="background-color: #0066B3;"></span>
    </div>
    <div id="footer">
        © 2009 -
        2018
        ProCredit Holding | Version

        <span title="3.6.51212.0">3.6.1.15 (51212.0)</span>

        application by Quipu GmbH Frankfurt, Germany
        <span class="l-floatright">
            12/10/2018 02:35 p.m.
        </span>
    </div>
</body>
</html>

