<!DOCTYPE html>
<html>
<head>

</head>
<body>

      <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="cFooterColors clearfix">
                <div class="cFooterColor1"></div>
                <div class="cFooterColor2"></div>
                <div class="cFooterColor3"></div>
                <div class="cFooterColor4"></div>
                <div class="cFooterColor5"></div>
                <div class="cFooterColor6"></div>
            </div>
            <div class="moduletable">


                <div class="custom">
                    <p>© 2015 Todos los derechos reservados. <br><strong><span class="red">Banco ProCredit Colombia</span></strong></p>
                </div>
            </div>

        </footer>
    </div>




</body>
</html>
