<html class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface no-generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="es-es" style="">
<!--<![endif]-->
<head>
    <base href="https://www.bancoprocredit.com.co/es/">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="generator" content="Joomla! - Open Source Content Management">
    <title>Home</title>
    <link href="/templates/procreditbank.com.co/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="https://www.bancoprocredit.com.co/es/busqueda.opensearch?id=1" rel="search" title="Buscar Procreditbank Colombia" type="application/opensearchdescription+xml">
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script type="application/json" class="joomla-script-options new">
        {"csrf.token":"a1c5b50166b8cf370eac3fcbb7e66e20","system.paths":{"root":"","base":""}}
    </script>
    <script src="/media/jui/js/jquery.min.js?0f2a8fcf0af6728015f081b68b970297" type="text/javascript"></script>
    <script src="/media/jui/js/jquery-noconflict.js?0f2a8fcf0af6728015f081b68b970297" type="text/javascript"></script>
    <script src="/media/jui/js/jquery-migrate.min.js?0f2a8fcf0af6728015f081b68b970297" type="text/javascript"></script>
    <script src="/media/system/js/caption.js?0f2a8fcf0af6728015f081b68b970297" type="text/javascript"></script>
    <script src="/media/system/js/core.js?0f2a8fcf0af6728015f081b68b970297" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(window).on('load', function () {
            new JCaption('img.caption');
        });
    </script>


    <!-- For compatibility when using media queries -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if IE]>
    <meta http-equiv="msthemecompatible" content="no" />
    <![endif]-->
    <!-- BEGIN Framework-CSS -->
    <link rel="stylesheet" href="/fnetcontent/cFramework/css/framework.css" type="text/css">
    <!-- END Framework-CSS -->
    <!-- BEGIN template CSS -->
    <link rel="stylesheet" href="/templates/procreditbank.com.co/css/editor.css" type="text/css" media="all">
    <link rel="stylesheet" href="/templates/procreditbank.com.co/css/styles.css" type="text/css" media="all">
    <!-- END template CSS -->
    <!-- BEGIN jQuery with plugins -->
    <script language="javascript" type="text/javascript" src="/fnetcontent/js/jQuery/jquery-1.10.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="/fnetcontent/js/jQuery/jquery.placeholder.js"></script>
    <!-- END jQuery -->
    <!-- BEGIN fnetcontent JS -->
    <script language="javascript" type="text/javascript" src="/fnetcontent/js/feditor3.4/tinymce3.4_jquery/jscripts/tiny_mce/jquery.tinymce.js"></script>
    <script language="javascript" type="text/javascript" src="/fnetcontent/js/basics.js?201519051635"></script>
    <!-- END fnetcontent JS -->
    <!-- BEGIN Shadowbox (Methode 3: Aufruf über jQuery, um direkt HTML-Content als Shadowbox darzustellen) -->
    <link rel="stylesheet" type="text/css" href="/fnetcontent/js/shadowbox/shadowbox.css">
    <script language="javascript" type="text/javascript" src="/fnetcontent/js/shadowbox/shadowbox.js"></script>
    <script language="javascript" type="text/javascript">
			<!--
        var customExt = {
            img: ["png", "jpg", "jpeg", "gif", "bmp"],
            swf: ["swf"],
            flv: ["flv", "mp4"],
            qt: ["dv", "mov", "moov", "movie"],
            wmp: ["asf", "wm", "wmv"],
            qtwmp: ["avi", "mpg", "mpeg"],
            iframe: ["asp", "aspx", "cgi", "cfm", "htm", "html", "jsp", "pl", "php", "php3", "php4", "php5", "phtml", "rb", "rhtml", "shtml", "txt", "vbs"]
        };

        Shadowbox.init({
            skipSetup: true
        });
        -->
    </script>
    <!-- END Shadowbox (Methode 3) -->
    <!-- BEGIN JW Player -->
    <script type="text/javascript" src="/fnetcontent/js/jwplayer/jwplayer.js"></script>
    <script>jwplayer.key="U9bWyqYzkBJy4wIk11OwUptnYRamAR0ggbkK2Q=="</script>
    <!-- END JW Player -->
    <!-- BEGIN Nivo slider -->
    <link rel="stylesheet" href="/fnetcontent/js/nivo-slider/nivo-slider.css" type="text/css">
    <script src="/fnetcontent/js/nivo-slider/jquery.nivo.slider.pack.js" type="text/javascript"></script>
    <!-- END Nivo slider -->
    <!-- BEGIN Selectivizr -->
    <!--[if (gte IE 6)&(lte IE 9)]>
      <script type="text/javascript" src="/templates/procreditbank.com.co/js/selectivizr-min.js"></script>
    <![endif]-->
    <!-- END Selectivizr -->
    <!-- BEGIN Modernizr -->
    <script type="text/javascript" src="/templates/procreditbank.com.co/js/modernizr-latest.js"></script>
    <!-- END Modernizr -->
    <!-- BEGIN zusätzliche CSS-Dateien -->
    <!-- END zusätzliche CSS-Dateien -->
    <!--[if IE]>
    <link rel="stylesheet" href="/templates/procreditbank.com.co/css/ie.css" type="text/css" />
    <![endif]-->
</head>

<!-- BEGIN Body-Tag einbinden -->
<!--[if lte IE 6]><body class="ie6"><![endif]-->
<!--[if IE 7]><body class="ie7"><![endif]-->
<!--[if IE 8]><body class="ie8"><![endif]-->
<!--[if gte IE 9]><body class="ie9"><![endif]-->
<!--[if !IE]><!-->
<body style="">
    <!--<![endif]-->
    <!-- END Body-Tag einbinden -->

    <div class="cPageWrap" id="menu">
        <a name="top"></a>
        <nav class="cMetaNav">
            <div class="cContainer">
                <ul class="nav menu">
                    <li class="item-291"><a href="/es/home.html">Home</a></li>
                    @*<li class="item-292"><a href="/es/terms-of-use.html">Términos de uso</a></li>
                    <li class="item-293"><a href="/es/mapa-del-sitio.html">Mapa del sitio</a></li>
                    <li class="item-294"><a href="/es/contactenos.html">Contáctenos</a></li>
                    <li class="item-295"><a href="/es/seguridad.html">Seguridad</a></li>
                    <li class="item-615"><a href="/es/privacy-policy.html">Privacy Policy</a></li>*@
                </ul>

            </div>
        </nav>
        <header>
            <div class="cContainer">
                <div class="search cSearch">
                    <form action="/es/" method="post" class="form-inline">
                        <label for="mod-search-searchword" class="element-invisible"> </label> <input name="searchword" id="mod-search-searchword" class="inputbox search-query" type="text" size="20" value="buscar" onblur="if (this.value=='') this.value='buscar';" onfocus="if (this.value=='buscar') this.value='';"> <button class="button btn btn-primary" onclick="this.form.searchword.focus();"> </button>		<input type="hidden" name="task" value="search">
                        <input type="hidden" name="option" value="com_search">
                        <input type="hidden" name="Itemid" value="297">
                    </form>
                </div>


                <div class="custom cLogo">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; <a href="/es/home.html"><img src="~/images/misc/banco_procredit_logo_main.png" alt="banco procredit logo main"></a></p>
                </div>


                <div class="custom cLogoGroup">
                    <p>&nbsp;<img src="~/images/misc/logo_international_group_PEQ.png" alt="logo international group PEQ"></p>
                </div>

            </div>
        </header>

        <nav id="cMainNav" class="cMainNavigation">
            <div id="cMenuButton">
                <a class="cOpen" href="#menu"></a>
                <a class="cClose" href="#"></a>
            </div>
            <ul class="nav menu">
                <li class="item-207 deeper parent"><a href="/es/acerca-de-nosotros/quienes-somos.html">Acerca de Nosotros</a><ul class="nav-child unstyled small"><li class="item-208 deeper parent"><a href="/es/acerca-de-nosotros/quienes-somos.html">¿Quienes somos?</a><ul class="nav-child unstyled small"><li class="item-209"><a href="/es/acerca-de-nosotros/quienes-somos/no-todos-los-bancos-son-iguales.html">No Todos los Bancos son Iguales</a></li><li class="item-516"><a href="/es/acerca-de-nosotros/quienes-somos/procredit-un-banco-internacional.html">Nuestros Accionistas</a></li><li class="item-210"><a href="/es/acerca-de-nosotros/quienes-somos/valores-corporativos.html">Ética y Valores Corporativos</a></li><li class="item-214"><a href="/es/acerca-de-nosotros/quienes-somos/nuestro-equipo-gerencial.html">Directores y administradores</a></li></ul></li><li class="item-574 deeper parent"><a href="/es/acerca-de-nosotros/sostenibilidad.html">Sostenibilidad</a><ul class="nav-child unstyled small"><li class="item-350"><a href="/es/acerca-de-nosotros/sostenibilidad/nuestra-politica-ambiental.html">Sistema de gestión ambiental</a></li><li class="item-496"><a href="/es/acerca-de-nosotros/sostenibilidad/proeco-informacion-educativa.html">Nuestro compromiso ambiental</a></li><li class="item-352"><a href="/es/acerca-de-nosotros/sostenibilidad/actividades-ambientales.html">Iniciativas ambientales</a></li><li class="item-280"><a href="/es/acerca-de-nosotros/sostenibilidad/logros-del-sostema-de-gestion-ambiental-interna.html">Certificaciones y reconocimientos</a></li></ul></li><li class="item-518"><a href="http://hr.procredit-group.com/co" target="_blank">Trabaja con nosotros</a></li><li class="item-495"><a href="/es/acerca-de-nosotros/publicaciones.html">Publicaciones</a></li><li class="item-225 deeper parent"><a href="/es/acerca-de-nosotros/mis-derechos-y-deberes-como-consumidor-financiero.html">Derechos del consumidor </a><ul class="nav-child unstyled small"><li class="item-231"><a href="/es/acerca-de-nosotros/mis-derechos-y-deberes-como-consumidor-financiero/derechos-y-deberes-del-consumidor-financiero.html">Derechos y Deberes del Consumidor Financiero</a></li><li class="item-232"><a href="/es/acerca-de-nosotros/mis-derechos-y-deberes-como-consumidor-financiero/procedimiento-de-gestion-de-peticiones-quejas-y-reclamos.html">Procedimiento de Gestión de Peticiones, Quejas y Reclamos</a></li><li class="item-236"><a href="/es/acerca-de-nosotros/mis-derechos-y-deberes-como-consumidor-financiero/educacion-financiera.html">Educación Financiera</a></li><li class="item-234"><a href="/es/acerca-de-nosotros/mis-derechos-y-deberes-como-consumidor-financiero/acerca-de-las-entidades-vigiladas.html">Acerca de las Entidades Vigiladas</a></li><li class="item-589"><a href="/es/acerca-de-nosotros/mis-derechos-y-deberes-como-consumidor-financiero/cumplimiento-normativo.html">Cumplimiento Normativo</a></li><li class="item-600"><a href="/es/acerca-de-nosotros/mis-derechos-y-deberes-como-consumidor-financiero/disponibilidad-en-canales.html">Disponibilidad en canales</a></li></ul></li><li class="item-523"><a href="/es/acerca-de-nosotros/oficinas-en-bogota.html">Oficinas y zonas autoservicio 24/7</a></li></ul></li>
                <li class="item-242 deeper parent"><a href="/es/banca-empresas.html">Banca Empresas</a><ul class="nav-child unstyled small"><li class="item-211"><a href="/es/banca-empresas/por-que-pymes.html">¿Por qué Pymes?</a></li><li class="item-254"><a href="/es/banca-empresas/cuenta-corriente-empresarial.html">Cuenta Corriente Empresarial</a></li><li class="item-501 deeper parent"><a href="/es/banca-empresas/inversion-empresas.html">Inversión</a><ul class="nav-child unstyled small"><li class="item-502"><a href="/es/banca-empresas/inversion-empresas/certificado-de-deposito-a-termino2.html">Certificado de Depósito a Término </a></li><li class="item-509"><a href="/es/banca-empresas/inversion-empresas/cuenta-de-ahorros-prorentable-empresarial.html">Cuenta de Ahorros ProRentable Empresarial</a></li><li class="item-504"><a href="/es/banca-empresas/inversion-empresas/cuenta-de-ahorros-emprearial.html">Cuenta de Ahorros ProCrecer Empresarial</a></li></ul></li><li class="item-263 deeper parent"><a href="/es/banca-empresas/financiacion-integral-empresa.html">Financiación integral</a><ul class="nav-child unstyled small"><li class="item-505"><a href="/es/banca-empresas/financiacion-integral-empresa/credito-para-capital-de-trabajo.html">Crédito para Capital de Trabajo</a></li><li class="item-506"><a href="/es/banca-empresas/financiacion-integral-empresa/credito-para-inversiones.html">Crédito para Inversiones</a></li><li class="item-507"><a href="/es/banca-empresas/financiacion-integral-empresa/proeco-pyme.html">ProEco PYME</a></li></ul></li><li class="item-567"><a href="/images/docs/Oficina_Virtual/Tarifas-PJ-05.10.2018.pdf" target="_blank">Tasas y Tarifas </a></li></ul></li>
                <li class="item-302 deeper parent"><a href="/es/banca-personas.html">Banca Personas</a><ul class="nav-child unstyled small"><li class="item-351"><a href="/es/banca-personas/finanzas-personales.html">Finanzas Personales</a></li><li class="item-497 deeper parent"><a href="/es/banca-personas/inversion-personas.html">Ahorro e inversión</a><ul class="nav-child unstyled small"><li class="item-307"><a href="/es/banca-personas/inversion-personas/certificado-de-deposito-a-termino.html">Certificado de Depósito a Término</a></li><li class="item-499"><a href="/es/banca-personas/inversion-personas/cuenta-de-ahorros-prorentable-personas.html">Cuenta de Ahorros ProRentable</a></li><li class="item-304"><a href="/es/banca-personas/inversion-personas/cuenta-de-ahorros-procrecer.html">Cuenta de Ahorros ProCrecer</a></li><li class="item-510"><a href="/es/banca-personas/inversion-personas/cuenta-corriente-personas.html">Cuenta Corriente</a></li><li class="item-498"><a href="/es/banca-personas/inversion-personas/cuenta-de-ahorros-procrecer-ninos.html">Cuenta de Ahorros ProCrecer Niños</a></li></ul></li><li class="item-568"><a href="/images/docs/Oficina_Virtual/Tasas-y-Tarifas-PN-05.10.2018.pdf" target="_blank">Tasas y Tarifas</a></li></ul></li>
                <li class="item-267 deeper parent"><a href="/es/mi-banco.html">Mi banco</a><ul class="nav-child unstyled small"><li class="item-261"><a href="/es/mi-banco/banca-en-linea.html">E - Banking</a></li><li class="item-611"><a href="/es/mi-banco/conozca-nuestra-app.html">App BPCC</a></li><li class="item-517"><a href="/es/mi-banco/transferencias.html">Transferencias</a></li><li class="item-614"><a href="/es/mi-banco/tarjeta-debito.html">Tarjeta Dèbito</a></li><li class="item-576 deeper parent"><a href="/es/mi-banco/canales-electronicos.html">Canales Electrónicos</a><ul class="nav-child unstyled small"><li class="item-314"><a href="/es/mi-banco/canales-electronicos/pagos-seguros-en-linea-pse.html">Pagos seguros en línea PSE</a></li><li class="item-564"><a href="/es/mi-banco/canales-electronicos/soi.html">Convenio de pago de nómina - SOI </a></li><li class="item-545"><a href="/es/mi-banco/canales-electronicos/adquirencia-pos-persona-juridica.html">Adquirencia POS</a></li></ul></li><li class="item-613"><a href="/es/mi-banco/convenios.html">Convenios</a></li><li class="item-301"><a href="/es/mi-banco/recaudos-empresariales.html">Recaudos Empresariales</a></li><li class="item-577"><a href="/es/mi-banco/pqr.html">Peticiones, quejas y reclamos</a></li><li class="item-212"><a href="/es/mi-banco/negocios-eticos.html">Su oficina virtual</a></li></ul></li>
                <li class="item-281 deeper parent"><a href="/es/novedades/noticias.html">Novedades</a><ul class="nav-child unstyled small"><li class="item-536"><a href="/es/novedades/noticias.html">Noticias</a></li><li class="item-578"><a href="/es/novedades/informacion-de-interes.html">Buzón de novedades</a></li><li class="item-588"><a href="/es/novedades/actualizacion-de-datos.html">Actualización de datos</a></li><li class="item-598"><a href="/es/novedades/consulta-de-extractos-bancarios.html">CONSULTA DE EXTRACTOS BANCARIOS</a></li><li class="item-599"><a href="/es/novedades/buzon-de-comunicados.html">COMUNICADO</a></li><li class="item-606"><a href="/es/novedades/inmuebles.html">Inmuebles </a></li><li class="item-607"><a href="/es/novedades/ract.html">Reporte Anual de Costos Totales</a></li></ul></li>
            </ul>

            <div class="mobile">
                <ul class="nav menu">
                    <li class="item-291"><a href="/es/home.html">Home</a></li>
                    <li class="item-292"><a href="/es/terms-of-use.html">Términos de uso</a></li>
                    <li class="item-293"><a href="/es/mapa-del-sitio.html">Mapa del sitio</a></li>
                    <li class="item-294"><a href="/es/contactenos.html">Contáctenos</a></li>
                    <li class="item-295"><a href="/es/seguridad.html">Seguridad</a></li>
                    <li class="item-615"><a href="/es/privacy-policy.html">Privacy Policy</a></li>
                </ul>
            </div>

        </nav>

        <section class="cMainContent cContainer">
            <div class="clearfix">
                <div id="system-message-container">
                </div>

                <article class="cMainColumn">
                    <div class="cImageModule">
                        <div class="moduletable cSlider">


                            <div class="custom cSlider" style="background-image: url(/images/Opciones_730.jpg)">
                                <p>
                                    <span style="font-size: 9pt; line-height: 115%; font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-position: initial; background-repeat: initial;">
                                    </span>
                                </p>
                                
                                <div id="slider" class="nivoSlider">

                                    <img class="nivo-main-image" src="/images/slider-es/picture_05.png" style="display: inline; width: 724px; height: 469px;">
                                    <div class="nivo-caption" style="display: block;">  ﻿Actualice sus datos e información financiera</div>


                                    <a title="" href="/" class="nivo-imageLink" style="display: none;">
                                        <img src="/images/slider-es/Picture_01.jpg" alt="" title="#htmlcaption0" style="width: 724px; visibility: hidden;">
                                    </a>

                                    <a title="" href="/es/mi-banco/conozca-nuestra-app.html" class="nivo-imageLink" style="display: none;">
                                        <img src="/images/slider-es/picture_02.jpg" alt="" title="#htmlcaption1" style="width: 724px; visibility: hidden;">
                                    </a>

                                    <a title="" href="/es/mi-banco/convenios.html" class="nivo-imageLink" style="display: none;">
                                        <img src="/images/slider-es/picture_03.jpg" alt="" title="#htmlcaption2" style="width: 724px; visibility: hidden;">
                                    </a>

                                    @*<a title="Cliente beneficiado de ProEco PYME" href="/cliente-beneficiado-de-proeco-pyme.html&#10;" class="nivo-imageLink" style="display: none;">
            <img src="/images/slider-es/picture_04.png" alt="" title="#htmlcaption3" style="width: 724px; visibility: hidden;">
        </a>*@

                                    @*<a title="" href="/es/banca-empresas/financiacion-integral-empresa/proeco-pyme.html" class="nivo-imageLink" style="display: none;">
            <img src="/images/slider-es/picture_05.png" alt="" title="#htmlcaption4" style="width: 724px; visibility: hidden;">
        </a>*@

                                    @*<a title="" href="/es/banca-empresas/financiacion-integral-empresa.html" class="nivo-imageLink" style="display: none;">
            <img src="/images/slider-es/picture_06.png" alt="" title="#htmlcaption5" style="width: 724px; visibility: hidden;">
        </a>*@

                                    @*<a title="" href="/es/banca-empresas/cuenta-corriente-empresarial.html" class="nivo-imageLink" style="display: block;">
            <img src="/images/slider-es/picture_07.png" alt="" title="#htmlcaption6" style="width: 724px; visibility: hidden;">
        </a>*@

                                    @*<a title="" href="/es/novedades/actualizacion-de-datos.html" class="nivo-imageLink" style="display: block;">
        <img src="/images/slider-es/picture_08.jpg" alt="" title="#htmlcaption7" style="width: 724px; visibility: hidden;">
        </a>*@

                                    @*<div class="nivo-slice" name="0" style="left: 0px; width: 36px; height: 469px; opacity: 1; overflow: hidden; top: 0px;">
            <img src="/images/slider-es/picture_08.jpg" style="position:absolute; width:724px; height:auto; display:block !important; top:0; left:-0px;">
        </div>

        <div class="nivo-slice" name="1" style="left: 36px; width: 36px; height: 469px; opacity: 0.987087; overflow: hidden; top: 0px;">
            <img src="/images/slider-es/picture_08.jpg" style="position:absolute; width:724px; height:auto; display:block !important; top:0; left:-36px;">
        </div>

        <div class="nivo-slice" name="2" style="left: 72px; width: 36px; height: 469px; opacity: 0.892658; overflow: hidden; top: 0px;">
            <img src="/images/slider-es/picture_08.jpg" style="position:absolute; width:724px; height:auto; display:block !important; top:0; left:-72px;">
        </div>

        <div class="nivo-slice" name="3" style="left: 108px; width: 36px; height: 469px; opacity: 0.737428; overflow: hidden; top: 0px;">
            <img src="/images/slider-es/picture_08.jpg" style="position:absolute; width:724px; height:auto; display:block !important; top:0; left:-108px;">
        </div>*@

        @*<div class="nivo-slice" name="4" style="left: 144px; width: 36px; height: 469px; opacity: 0.612901; overflow: hidden; top: 0px;">
        <img src="/images//slider-es/picture_08.jpg" style="position:absolute; width:724px; height:auto; display:block !important; top:0; left:-144px;">
        </div>*@

        @*<div class="nivo-slice" name="5" style="left: 180px; width: 36px; height: 469px; opacity: 0.414035; overflow: hidden; top: 0px;">
        <img src="/images//slider-es/picture_08.jpg" style="position:absolute; width:724px; height:auto; display:block !important; top:0; left:-180px;">
        </div>*@

        @*<div class="nivo-slice" name="6" style="left: 216px; width: 36px; height: 469px; opacity: 0.212497; overflow: hidden; top: 0px;">
        <img src="/images/slider-es/picture_08.jpg" style="position:absolute; width:724px; height:auto; display:block !important; top:0; left:-216px;">
        </div>*@

        <div class="nivo-slice" name="7" style="left: 252px; width: 36px; height: 469px; opacity: 0.069629; overflow: hidden; top: 0px;">
            <img src="/images/slider-es/picture_08.jpg" style="position:absolute; width:724px; height:auto; display:block !important; top:0; left:-252px;">
        </div>

        <div class="nivo-slice" name="8" style="left: 288px; width: 36px; height: 469px; opacity: 0.00498817; overflow: hidden; top: 0px;">
            <img src="/images/slider-es/picture_08.jpg" style="position:absolute; width:724px; height:auto; display:block !important; top:0; left:-288px;">
        </div>

        <div class="nivo-slice" name="9" style="left: 324px; width: 36px; height: 469px; opacity: 0; overflow: hidden; top: 0px;">
            <img src="/images/slider-es/picture_08.jpg" style="position:absolute; width:724px; height:auto; display:block !important; top:0; left:-324px;">
        </div>

        <div class="nivo-slice" name="10" style="left: 360px; width: 36px; height: 469px; opacity: 0; overflow: hidden; top: 0px;">
            <img src="/images/slider-es/picture_08.jpg" style="position:absolute; width:724px; height:auto; display:block !important; top:0; left:-360px;">
        </div>

        <div class="nivo-slice" name="11" style="left: 396px; width: 36px; height: 469px; opacity: 0; overflow: hidden; top: 0px;">
            <img src="/images/slider-es/picture_08.jpg" style="position:absolute; width:724px; height:auto; display:block !important; top:0; left:-396px;">
        </div>

        <div class="nivo-slice" name="12" style="left: 432px; width: 36px; height: 469px; opacity: 0; overflow: hidden; top: 0px;">
            <img src="/images/slider-es/picture_08.jpg" style="position:absolute; width:724px; height:auto; display:block !important; top:0; left:-432px;">
        </div>

        <div class="nivo-slice" name="13" style="left: 468px; width: 36px; height: 469px; opacity: 0; overflow: hidden; top: 0px;">
            <img src="/images/slider-es/picture_08.jpg" style="position:absolute; width:724px; height:auto; display:block !important; top:0; left:-468px;">
        </div>

        <div class="nivo-slice" name="14" style="left: 504px; width: 36px; height: 469px; opacity: 0; overflow: hidden; top: 0px;">
            <img src="/images/slider-es/picture_08.jpg" style="position:absolute; width:724px; height:auto; display:block !important; top:0; left:-504px;">
        </div>


        <div class="nivo-slice" name="15" style="left: 540px; width: 36px; height: 469px; opacity: 0; overflow: hidden; top: 0px;">
            <img src="/images/slider-es/picture_08.jpg" style="position:absolute; width:724px; height:auto; display:block !important; top:0; left:-540px;">
        </div>
                                    
                                    <div class="nivo-slice" name="16" style="left: 576px; width: 36px; height: 469px; opacity: 0; overflow: hidden; top: 0px;">
                                        <img src="/images/slider-es/picture_08.jpg" style="position:absolute; width:724px; height:auto; display:block !important; top:0; left:-576px;">
                                    </div>

                                    <div class="nivo-slice" name="17" style="left: 612px; width: 36px; height: 469px; opacity: 0; overflow: hidden; top: 0px;">
                                        <img src="/images/slider-es/picture_08.jpg" style="position:absolute; width:724px; height:auto; display:block !important; top:0; left:-612px;">
                                    </div>

                                    <div class="nivo-slice" name="18" style="left: 648px; width: 36px; height: 469px; opacity: 0; overflow: hidden; top: 0px;">
                                        <img src="/images/slider-es/picture_08.jpg" style="position:absolute; width:724px; height:auto; display:block !important; top:0; left:-648px;">
                                    </div>

                                    <div class="nivo-slice" name="19" style="left: 684px; width: 40px; height: 469px; opacity: 0; overflow: hidden; top: 0px;">
                                        <img src="/images/slider-es/picture_08.jpg" style="position:absolute; width:724px; height:auto; display:block !important; top:0; left:-684px;">
                                    </div>

                                </div>
                                    <div class="nivo-controlNav">
                                <a class="nivo-control" rel="0">1</a>
                                <a class="nivo-control" rel="1">2</a>
                                <a class="nivo-control" rel="2">3</a>
                                <a class="nivo-control" rel="3">4</a>
                                <a class="nivo-control" rel="4">5</a>
                                <a class="nivo-control" rel="5">6</a>
                                <a class="nivo-control" rel="6">7</a>
                                <a class="nivo-control active" rel="7">8</a>
                                </div>

                                <div id="htmlcaption0" class="nivo-html-caption">
                                    ﻿Solicite su tarjeta débito VISA clásica y acceda a sus beneficios
                                </div>
                                <div id="htmlcaption1" class="nivo-html-caption">
                                   ﻿Accede a los beneficios que te ofrece Banco ProCredit desde cualquier
                                   dispositivo móvil descargando nuestra aplicación.
                                </div>
                                <div id="htmlcaption2" class="nivo-html-caption">
                                    ﻿Conozca nuestros aliados estratégicos
                                </div>
                                <div id="htmlcaption3" class="nivo-html-caption">
                                    Cliente beneficiado de ProEco PYME nos regala este video como muestra de agradecimiento
                                </div>
                                <div id="htmlcaption4" class="nivo-html-caption">
                                    Línea de financiación ProEco PyME. Contribuyendo al desarrollo sostenible
                                </div>
                                <div id="htmlcaption5" class="nivo-html-caption">
                                    Créditos para empresarios hechos a la medida.
                                </div>
                                <div id="htmlcaption6" class="nivo-html-caption">
                                    ﻿Procredit, Bancos responsables con respaldo internacional.
                                </div>
                                <div id="htmlcaption7" class="nivo-html-caption">
                                    ﻿Actualice sus datos e información financiera
                                </div>

                                                             
                                <p></p>
                            </div>
                        </div>

                    </div>
                    <div class="cMainContentModule clearfix">
                        <div class="moduletable">


                            <div class="custom">
                                <h3 class="headline" style="color: #000000;">¿Tiene inquietudes?</h3>
                                <div style="width: 50%; text-align: left; float: left;">
                                    <p><span style="font-size: 10pt;"><strong style="color: #d40e14;"><img src="/images/telefono.png" alt="telefono">&nbsp;Centro de asesoría en línea:&nbsp;&nbsp; </strong>+571 595 40&nbsp;66&nbsp;</span></p>
                                    <p><span style="font-size: 10pt;"><strong style="color: #d40e14; text-decoration: underline;"><img src="/images/reloj.png" alt="reloj"></strong>&nbsp;<strong style="color: #d40e14; text-decoration: underline;">Horario de atención:</strong></span></p>
                                    <div style="color: #000000;">
                                        <p style="color: #000000;"><span style="font-size: 10pt;">Lunes a Viernes:<strong style="color: #000000;">&nbsp; 8:00 am a 6:00 pm </strong></span></p>
                                        <p style="color: #000000;"><span style="font-size: 10pt;">Sabados:<strong> 9:00 am a 12:00 m</strong></span></p>
                                        <p style="color: #000000;"><span style="font-size: 10pt;">Bloqueos de Tarjetas débito:<strong> Los 7 días de la semana, las 24 horas.</strong></span></p>
                                    </div>
                                </div>
                                <div style="float: left; width: 50%;">
                                    <p style="color: #d40e14;"><span style="font-size: 10pt;"><strong style="color: #d40e14;"><img src="/images/email.png" alt="email">&nbsp;Email: </strong><a href="mailto:asesoriaenlinea@procredit-group.com">asesoriaenlinea@procredit-group.com</a></span></p>
                                    <p><span style="font-size: 10pt;"><strong style="color: #d40e14;"><img src="/images/casa.png" alt="casa">&nbsp;Dirección: </strong>Av. Calle 39 No. 13a - 16, Bogotá - Colombia</span></p>
                                    <p><span style="font-size: 10pt;"><strong>Correo Seguro:</strong> <a href="https://securemail.procredit-group.com/SecMail/login.jsp" target="_blank" rel="noopener noreferrer">haga click aquí</a></span></p>
                                    <p><span style="font-size: 10pt;"><img src="/images/twitter.png" alt="twitter">&nbsp; <a href="https://twitter.com/ProCredit_CO" target="_blank" rel="noopener noreferrer"><strong>ProCredit_CO</strong></a></span></p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                </div>
                                <p style="clear: both;">&nbsp;</p>
                            </div>
                        </div>

                    </div>
                </article>

                <aside class="clearfix">
                    <div class="moduletable">


                        <div class="custom">
                            
                            <p><a asp-area="" asp-controller="DataInfo" asp-action="Document">    <img src="/images/sidebar/Vinculate.png"alt="Banner Vinculate" width="301" height="84"></a></p>
                            <p><a href="https://ebanking.bancoprocredit.com.co/User/Logon?ReturnUrl=/" target="_blank" rel="noopener noreferrer"><img src="/images/sidebar/Banner-EBA-V2.png" alt="Banner E-Banking" width="301" height="84"></a></p>
                            <p><a title="Chat Asesoria en Linea" href="https://onecontact.lvl3cloud.net/WebMessenger/?onecontactinstance=procredit&amp;motive=AEL" target="_blank" rel="noopener noreferrer"><img src="/images/sidebar/Banner-Chat-en-linea.png" alt="Chat Banner" width="301" height="84"></a></p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>

                        </div>
                    </div>
                    <div class="moduletable">
                        <a href="https://dolar.wilkinsonpc.com.co" target="_blank"><img src="https://www.bancoprocredit.com.co/images/sidebar/Indicadores-Economicos.png"></a><br><!-- DolarWeb IndMin Start --><div id="IndicadoresMin" style="background: transparent; overflow: hidden;"><font id="check"></font></div>
                        <script type="text/javascript" src="https://dolar.wilkinsonpc.com.co/ ancho=190&amp;alto=105&amp;fondo=transparent&amp;fsize=13&amp;ffamily=sans-serif&amp;fcolor=000000"></script><iframe src="https://dolar.wilkinsonpc.com.co/widgets/gratis/indicadores-economicos-min.html?ancho=190&amp;alto=105&amp;fondo=transparent&amp;fsize=13&amp;ffamily=sans-serif&amp;fcolor=000000&amp;custom=si" id="IEDolar" style="width:190px;height:105px;" title="Dolar" width="190" height="105" align="top" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" name="IE-1" allowtransparency="true"></iframe><!-- DolarWeb IndMin End -->
                    </div>

                </aside>
            </div>
        </section>

        <footer>
            <div class="cFooterColors clearfix">
                <div class="cFooterColor1"></div>
                <div class="cFooterColor2"></div>
                <div class="cFooterColor3"></div>
                <div class="cFooterColor4"></div>
                <div class="cFooterColor5"></div>
                <div class="cFooterColor6"></div>
            </div>
            <div class="moduletable">


                <div class="custom">
                    <p>© 2015 Todos los derechos reservados. <br><strong><span class="red">Banco ProCredit Colombia</span></strong></p>
                </div>
            </div>

        </footer>
    </div>


    <div id="sb-container"><div id="sb-overlay"></div><div id="sb-wrapper"><div id="sb-title"><div id="sb-title-inner"></div></div><div id="sb-wrapper-inner"><div id="sb-body"><div id="sb-body-inner"></div><div id="sb-loading"><div id="sb-loading-inner"><span>ladend</span></div></div></div></div><div id="sb-info"><div id="sb-info-inner"><div id="sb-counter"></div><div id="sb-nav"><a id="sb-nav-close" title="Schließen" onclick="Shadowbox.close()"></a><a id="sb-nav-next" title="Nächste" onclick="Shadowbox.next()"></a><a id="sb-nav-play" title="Abspielen" onclick="Shadowbox.play()"></a><a id="sb-nav-pause" title="Pause" onclick="Shadowbox.pause()"></a><a id="sb-nav-previous" title="Vorige" onclick="Shadowbox.previous()"></a></div></div></div></div></div>
</body>
</html>